*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/.cxx
/OpenCV490/build
/OpenCV490/.cxx
/.idea/
/OpenCV490/native/staticlibs/x86/
/OpenCV490/native/staticlibs/x86_64/
/OpenCV490/native/staticlibs/armeabi-v7a/
/OpenCV490/native/libs/x86/
/OpenCV490/native/libs/x86_64/
/OpenCV490/native/libs/armeabi-v7a/
/OpenCV490/native/3dparty/libs/x86/
/OpenCV490/native/3dparty/libs/x86_64/
/OpenCV490/native/3dparty/libs/armeabi-v7a/
